* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Game screen */
.game-board {
    position: relative;
    width: 800px;
    height: 500px;
    margin: 10px auto;
    overflow: hidden;
    border: 2px solid black;
}

.background {
    background: url("../assets/images/background.png") repeat-x;
    height: 750px;
    width: 7680px;
    animation: background-slide 5s linear infinite;
}

.floor {
    background: url("../assets/images/floor1.png") repeat-x;
    position: absolute;
    bottom: -10px;
    height: 50px;
    width: 7680px;
    animation: floor-slide 0.2s linear infinite;
}

/* Game objects */
.stone {
    position: absolute;
    z-index: 1;
    bottom: 30px;
    width: 80px;
    animation: obstacle-animation 1.5s linear infinite;
}

.dino {
    position: absolute;
    z-index: 2;
    bottom: 20px;
    width: 150px;
}

/* Restart button *Still trying to figure out how to make appear over the background. */
.restart {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100px;
    margin: 20px auto;   
}

/*Animations*/
.jump {
    animation: jump 500ms ease-out infinite;
}

@keyframes background-slide {
    0% {
      transform: translate(0);
    }
    100% {
      transform: translate(-1000px); /* The image width */
    }
}

@keyframes floor-slide {
    0% {
      transform: translate(0);
    }
    100% {
      transform: translate(-128px); /* The image width */
    }
  }

@keyframes obstacle-animation {
    from {
        right: -80px;
    }
    to {
        right: 100%;
    }
}

@keyframes jump {
    0% {
        bottom: 20px;
    }
    40% {
        bottom: 180px;
    }
    50% {
        bottom: 180px;
    }
    60% {
        bottom: 180px;
    }
    100% {
        bottom: 20px;
    }
}
